body {
    width: 960px;
    margin: 0;
    padding: 0;
    background-color: #777;
    text-align: center;
    font-family: "Arial", "Helvitica Neue", Helvitica, sans-serif;
    font-size: 18px;
    color: #777;
}

header,
nav,
footer {
    margin: 10px;
    background-color: #ebebeb;
    padding: 35px;
}

#section1 {
    margin: 10px;
    background-color: #ebebeb;
    padding: 10px;
    padding-top: 30px;
    width: 495px;
    float: left;
}

#article1 {
    margin-top: 30px;
    color: #ebebeb;
    background-color: #777;
    padding: 10px;
    padding-top: 20px;
}

#aside1 {
    padding-top: 30px;
    display: block;
    background-color: #ebebeb;
    margin: 10px;
    background-color: ##ebebeb;
    width: 404px;
    float: left;
    height: 257px;
}

h1,
p {
    background-color: #ebebeb;
    padding: 15px;
    margin: 10px;
    color: #777;
}

h1 {
    margin-top: 20px;
}

.clear::after {
    overflow: auto;
    content: "";
    display: block;
    clear: both;
}
